* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.logo {
  color: #4951ff;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 22px;
  list-style-type: none;
}
.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-btn {
  padding: 8px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
}

.bold-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 65px;
}

#p-text {
  margin-top: 15px;
  line-height: 20px;
}

.btn {
  padding: 14px 28px;
  background: #4f6df5;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}

.image-gallery {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  margin-top: 30px;
  /* flex-wrap: wrap; */
}

.image-card {
  width: 180px;
  height: 260px;
  border-radius: 18px;
  overflow: hidden;

  /* overflow: hidden; let the images stay inside the curve of the div */
}

.image-card.tall {
  height: 300px;
}
.image-card.short {
  height: 170px;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Subtle hover effect for the images */

.image-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.image-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.about {
  padding: 100px 0;
  background: #ffffff;
}

.about-wrapper {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.about-images {
  display: grid;
  grid-template-columns: repeat(2, 180px);
  grid-template-rows: repeat(2, 220px);
  gap: 24px;
  position: relative;
}

.img {
  border-radius: 18px;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* object-fit: cover; is used to fit an image into a container */
}

.img-1 {
  grid-row: span 2;
}

.img-2 {
  height: 160px;
}

.img-3 {
  height: 260px;
}

.about-content {
  font-size: 40px;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 30px;
}

/* effect for the about page */
.img {
  transition: transform 0.3s ease;
}

.img:hover {
  transform: translateY(-6px);
}



@media (max-width: 768px) {
  .image-card {
    width: 140px;
    height: 220px;
  }

  .about-wrapper {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .about-images {
    justify-content: center;
  }
}

